ADMIN_USER_EMAIL=admin@test.com
ADMIN_USER_NAME=admin
ADMIN_USER_PWD="password"
BASE_URL="https://plausible-domain.com"
SECRET_KEY_BASE=your-secret-key-min-64
DISABLE_REGISTRATION=true
CADDY_DOMAIN_NAME=plausible-domain.com